p{color: green;}
p.uwaga{color: red;}
.info{color: blue;}
#okazja{
    color: aqua;
    font-weight: bold
}



.carousel-control span.glyphicon {
    color: red;
}


.carousel-control span.glyphicon {
    color: red;
}

.carousel-indicators .active{
    background-color: black;
}



.carousel-control-next {
    filter: invert(100%);
}
.carousel-control-prev {
    filter: invert(100%);
}

.header{
    text-align: center;
    margin-bottom: 3ex;
     
}


.parallax {
    /* The image used */
    background-image: url(parallax1.png);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



